{
    "parser": "babel-eslint",
    "extends": [
        "airbnb-standard"
    ],
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ]
    }
}